html, body, header, nav, ul, li,
strong, section, img, div, p,
form, fieldset, label, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

body{
  font-family: sans-serif;
}

h1 {
  font-family: fantasy;
  color: black;
  text-shadow: 2px 2px 2px white;
  text-align: center;
  font-size: 60px;
}

h2 {
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
}

h3 {
  font-family: fantasy;
  text-align: center;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.section {
  display: none;
  height: 100%;
  width: 100%;
}

.show {
  display: block;
}

.everything-container {
  position: relative;
  background-image: url(http://www.pageresource.com/wallpapers/wallpaper/black-and-white-shark-animals_61497.jpg);
  background-attachment : fixed;
  background-size: cover;
}

.left-tool-bar {
  position: fixed;
  float: left;
  width: 20%;
  background: red;
  height: 100%;
}

.main-container {
  float:left;
  margin-left: 10%;
  height: 100%;
  width: 90%;
}

.intro-info {
  margin-left: 200px;
  margin-right: 20px;
}

.tool-button {
  background: white;
  width: 100%;
}

.projects-container {
  text-align: center;
}

.project-img {
  width: 300px;
}

.project-div {
  margin-top: 50px;
}

.tech-logo {
  float: left;
  width: 100px;
  height: 100px;
}

.tech-logo img {
  width: 100%;
}

.css-logo img {
  width: 100%;
}

.css-logo {
  float: left;
  width: 200px;
  height: 100px;
}

