ul {
	list-style: none;
}

.snake-container {
	width: 400px;
	float: left;
}

.grid {
	margin: auto;
	display: block;
	width: 350px;
	height: 350px;
	background: lightgreen;
	border: 5px	dotted green;
}

h1 {
	font-size: 50px;
	font-family: sans-serif;
	text-align: center;
}

.grid > li {
	height: 12px;
	width: 12px;
	border: 1px solid #000;
	float: left;
}

.grid > .snake {
	background: green;
}

.grid > .apple {
	background: red;
}

.hide {
	display: none;
}
